<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.event_channel_background_issue">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <service android:name=".EventChannelBackgroundIssuePlugin" />
    </application>
</manifest>
